@import "../../styles/index.scss";
.root {
    // height: fit-content;
    min-width: 300px;
    // display: inline-block;
    // margin-bottom: 5%;
}

.img_main {
    height: auto;
    cursor: pointer;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content {
    padding: 12px;
    cursor: pointer;
    background-color: $color-card-background;

    @include make-flex(column, space-between, flex-start);
}

.action_icons {
    width: 100%;
    @include make-flex(row, flex-start, flex-start);

    margin-top: 24px;   

    & > img:not(:last-child) {
        width: 20px;
        height: 22px;
        margin-right: 16px;
        color: $color-primary-1;
    }

    *:last-child {
        margin-left: auto;
    }
}
.description {
    background-color: $color-card-background;

    padding: 12px;
    flex: 1;
    height: 100%;
    text-align: left;
    overflow-y: auto;

    & > label:last-child {
        font-size: 1.125rem !important;
        color: $color-primary-7 !important;
    }

    & > label:nth-child(2) {
        margin-top: 16px;
    }
}

.title {
    margin-top: 16px;
    background-color: transparent;

    & > label {
        font-size: 1.125rem !important;
        color: $color-primary-6 !important;
    }
}
