h1 {
        font-size: 42px !important;
         margin-bottom: 1.5em;
        font-weight: 700;
        color: rgb(91, 81, 71);
        line-height: 1.1;
    }
    div {
        font-size: 11px;
        font-weight: 500;
        color: rgb(136, 132, 128);
        margin-block: 20px;
    }
      a{
       color: #fb745c!important;
       font-weight: bold!important;
    }
    h2 {
        font-size: 32px!important;;




          margin-bottom: 1.5em;
        font-weight: 700;
        line-height: 1.1;
        color: rgb(91, 81, 71);
    }
    hr {
        border-color: #cdc5bd;
        margin-block: 30px;
    }
    p {
        font-size: 20px !important;
        font-weight: 400;
        color: rgb(91, 81, 71);
        font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, Inter,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        margin-block: 30px;
    }

    img {
        margin-block: 20px;
        border-radius: 8px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16);
    }