@import "../../../styles/index.scss";

.heading {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.cabin {
    font-family: $font-family_cabin;
    font-weight: 400;
}
.raleway {
    font-family: $font-family_raleway !important;
    font-weight: 400;
}

.sm {
    font-size: 12px;
}

.md {
    font-size: 16px;
}

.lg {
    font-size: 22px;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 500;
}

.color-primary-1 {
    color: $color-primary-1;
}

.color-primary-2 {
    color: $color-primary-2;
}

.color-primary-3 {
    color: $color-primary-3;
}

.color-primary-4 {
    color: $color-primary-4;
}

.color-primary-5 {
    color: $color-primary-5;
}

.color-primary-6 {
    color: $color-primary-6;
}
.color-primary-7 {
    color: $color-primary-7;
}
.color-primary-8 {
    color: $color-primary-8;
}
.color-primary-9 {
    color: $color-primary-9;
}

.color-error {
    color: red;
}
