.root {
    h1 {
        font-size: 28px !important;
        margin-bottom: 1em;
        font-weight: 700;
        color: rgb(91, 81, 71);
        line-height: 1.2;
    }

    div {
        font-size: 0.9vw !important;
        font-family: "raleway";
        font-weight: 500;
        color: #9c9895;
        margin-block: 15px;
    }

    h2 {
        font-size: 1.2rem !important;
        font-weight: 700;
        color: rgb(91, 81, 71);
        line-height: 1.3;
    }

    h3 {
        font-size: 22px;
        margin-bottom: 1em;
        font-weight: 700;
        line-height: 1.2;
        color: rgb(91, 81, 71);
    }

    hr {
        border-color: #cdc5bd;
        margin-block: 20px;
    }

    p {
        span,
        strong {
            color: inherit !important;
        }
        font-size: 1vw;
        line-height: 1.5;
        font-weight: 400;
        color: #111111;
        font-family: "raleway";
        margin-bottom: 20px;
    }

    img {
        margin-block: 15px;
        width: 50vw;
        height: auto;
        border-radius: 1vw;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.12);
    }

    a {
        color: inherit !important;
        text-decoration: underline;
        font-weight: 500;
    }

    a:hover {
        color: #edb6a9 !important;
    }

    @media only screen and (max-width: 48em) {
        h1 {
            font-size: 1.4rem !important;
            margin-bottom: 1em;
        }

        div {
            font-size: 2vw !important;
            line-height: 4vw;
            margin-block: 0;
        }

        h3 {
            font-size: 1.1rem;
            margin-bottom: 1em;
        }

        p {
            font-size: 14px !important;
            line-height: 1.6;
            margin-block: 20px;
        }

        img {
            margin-block: 10px;
            width: 70vw;
            height: auto;
            border-radius: 3vw;
        }
    }

    .noMarginbottom {
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width: 48em) {
    .markdownStyles {
        margin-top: 1.5em;

        h1 {
            font-size: 1.4rem !important;
            margin-bottom: 1em;
        }

        div {
            font-size: 12px;
            font-weight: 500;
            color: rgb(136, 132, 128);
            margin-block: 15px;
        }

        h3 {
            font-size: 1.1rem;
            margin-bottom: 1em;
        }

        p {
            font-size: 14px !important;
            line-height: 1.6;
            margin-block: 20px;
        }

        img {
            margin-block: 15px;
            border-radius: 6px;
        }
    }
}

.noMarginbottom {
    margin-bottom: 0px !important;
}
