$font-family_cabin: "Cabin";
$font-family_raleway: "raleway";
//$color-background: #f7ede2;
$color-background: #efe9e4;
// $color-primary-1: #f5896d;
$color-primary-1: #ea6147;
$color-primary-2: #05131c;
// $color-primary-3: #0081df;
$color-primary-3: #307fe2;
$color-primary-4: #888;
$color-primary-5: #ff715f;
$color-primary-6: #212121;
$color-primary-7: #555;
// $color-primary-8: #568dfb;
$color-primary-8: #307fe2;
$color-primary-9: #ffffff;
$color-card-background: #fbf8f5;
